*{
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
}

body {
    background-size: cover;
    background:fixed linear-gradient(#769ED9, #27477C);
    font-family: Arial, sans-serif;
    height: 100vh;
}

header{
    position: relative;
    padding: 0 2rem;
}

#nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    height: 60px;
}


h1 {
    font-size: 24px;
    color: #ffffff;
    margin: 0;
}

#rightNav {
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
}

#nav img{
    margin-right: -20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
}

.notification i{
    font-size: 16px;
}

.profile{
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid;
}

.profile i{
    font-size: 35px;
    margin-left: 20px;
    margin-top: 10px;
}

#nav a, .dropdown_menu a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    padding: 10px 20px 10px 20px;
    font-size: 13px;
}

.links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.4s;
}

.links li a:hover::after,
.links .active a::after {
    width: 100%;
    background-color: #ffffff;
}

.action_btn{
    background-color: #255BB3;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale:1.05;
    color: #ffffff;
}

.action_btn:active{
    scale: 0.95;
}

#nav .toggle_btn{
    display: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
}

.dropdown_menu .links a{
    color: #27477C;
}

.dropdown_menu .links li a:hover::after,
.dropdown_menu .links li.active a::after {
    width: 100%;
    background-color: #27477C;
}

.dropdown_menu.open{
    height: unset;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

#min, #max{
    width: 50px;
    height: 25px;
}

.editproduct {
    background-color: #6d91c7; /* Light blue background */
    color: #fff; /* Dark gray text color */
    padding: 20px;
    margin: 40px auto;
    max-width: 840px;
}

.editproduct h1 {
    text-align: center;
    margin-bottom: 20px;
}

.editproduct form {
    width: 100%;
}

.editproduct .first-side{
    padding: 10px;
    margin-left: 10px;
}

.editproduct input[type="text"],
.editproduct input[type="number"],
.editproduct select,
.editproduct textarea{
    width: calc(50% - 10px);
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #bbc7dc; /* Slightly darker blue input background */
    color: #333;  /* Dark gray text color */
}

.top{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.editproduct button{
    background-color: #255BB3; /* Dark blue button background */
    color: #fff; /* White text color */
    cursor: pointer;
    width: 70%;
    width: 100%;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
}

.editproduct textarea {
    width: calc(100% - 20px);
    height: 100px;
}

.editproduct #delete{
    background-color:rgb(164, 9, 9);
}

.feedback {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 840px;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children in a column */
}

.feedback div {
    margin-bottom: 20px;
}

.feedback input[type="text"] {
    width: calc(100% - 80px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8px;
}

.feedback button {
    background-color: #27477C;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feedback button:hover {
    background-color: #0f203b;
}

.feedback .feedback-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.feedback .feedback-item:last-child {
    border-bottom: none; /* Remove bottom border for the last feedback item */
}


@media(max-width: 1050px){
    #nav .links,
    #nav .action_btn{
        display: none;
    }
    
    #nav .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    .profile {
        display: none;
    }

}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}