@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background:fixed linear-gradient(#769ED9, #27477C);
    font-family: Arial, sans-serif;
    height: 100vh;
    align-items: center;
}

#nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    height: 60px;
}


h1 {
    font-size: 24px;
    color: #ffffff;
    margin: 0;
}
#rightNav {
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
}

#nav img{
    margin-right: -20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
}

#nav a, .dropdown_menu a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    padding: 10px 20px 10px 20px;
    font-size: 13px;
}

.links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.4s;
}

.links li a:hover::after,
.links li.active a::after {
    width: 100%;
    background-color: #ffffff;
}

.action_btn{
    background-color: #255BB3;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale:1.05;
    color: #ffffff;
}

.action_btn:active{
    scale: 0.95;
}

#nav .toggle_btn{
    display: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu .links a{
    color: #27477C;
}

.dropdown_menu .links li a:hover::after,
.dropdown_menu .links li.active a::after {
    width: 100%;
    background-color: #27477C;
}

.dropdown_menu.open{
    height: 300px;
    z-index: 5;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    width: 540px;
    height: 490px;
    overflow: hidden;
    z-index: 2;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
    margin-top: -40px;
}

.top span{
    color: #ffffff;
    font-size: small;
    display: flex;
    justify-content: center;
}

.top span a{
    font-weight: 500;
    color: #ffffff;
    margin-left: 5px;
}

header{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 15px 0;
}

.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    height: 40px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    margin-bottom: -8px;
}

.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder{
    color: #ffffff;
}

.input-box i{
    position: relative;
    top: -25px;
    left: 17px;
    color: #ffffff;
}

.submit{
    font-size: 15px;
    font-weight: 500;
    color: #27477C;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-top: 20px;
}

.submit:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.2);
}

.forgot a{
    text-decoration: none;
    color: #ffffff;
}

.forgot a:hover{
    text-decoration: underline;
}

.error{
    color: red;
    text-align: center;
    margin-bottom: 5px;
    font-size: 15px;
}

@media(max-width: 992px){
    #nav .links,
    #nav .action_btn{
        display: none;
    }
    
    #nav .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
        z-index: 2;
    }
}

@media only screen and (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    
    .form-box{
        width: 100%;
        height: 650px;
        margin-top: 10px;
    }

    .register-container{
        width: 100%;
        padding: 0 20px;
    }

    .register-container .two-forms{
        flex-direction: column;
        gap: 0;
    }

    .register-container .role-box{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

